DB_NAME=				"asdf"
DB_USER=				"asdf"
DB_PASSWORD=			"asdf"
DB_HOST=				"asdf"
DB_CHARSET=				"asdf"
DB_COLLATE=				""

AUTH_KEY=				"asdf"
SECURE_AUTH_KEY=		"asdf"
LOGGED_IN_KEY=			"asdf"
NONCE_KEY= 				"asdf"
AUTH_SALT=				"asdf"
SECURE_AUTH_SALT=		"asdf"
LOGGED_IN_SALT= 		"asdf"
NONCE_SALT=				"asdf"

WP_DEBUG=				true
WP_DEBUG_LOG=			"debug_up.log"
WP_HOME=				"https://up.local.site"
WP_SITEURL=				"https://up.local.site"

TABLE_PREFIX=			"wx4gk_"

SMTP_HOST=				"mail.unipixelhq.com"
SMTP_PORT=				"587"
SMTP_SECURE=			"tls"
SMTP_AUTH=				"true"
SMTP_USERNAME=			"website@unipixelhq.com"
SMTP_PASSWORD=			"thepassword"
SMTP_FROMEMAIL=			"website@unipixelhq.com"
SMTP_FROMNAME=			"UniPixel Website"

MONDAY_API_TOKEN=		"asdf"
MONDAY_SUBITEM_TIMELINE_COLUMN_ID= "asdf"

UNIPIXEL_DOC_PARENT_PAGE_ID="asdf"
